.b-assets{
    width: 100%;
    max-width: 1150px;
    padding: 0 20px 322px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        text-align: center;
        margin: 0;
        padding: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
    }
    &__text{
        text-align: center;
        max-width: 648px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;  
        color: #FFFFFF;   
        opacity: 0.6;
        padding: 0;
        margin: 19px 0 0 0;
    }
    &__img{
        position: absolute;
        top: 110px;
        left: 11%;
        width: 100%;
        max-width: 985px;
    }
}