.l-contentStart{
    width: 100%;
    padding: 0 ;
    margin: 0;
}
.b-contentStart{
    width: 100%;
    max-width: 1150px;
    padding: 100px 20px 100px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    &__wrapper{
        padding: 71px 459px 72px 26px;
        box-sizing: border-box;
        margin: 0;
        background-image: url(/assets/img/userfiles/steartBg.png);
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
    }
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        color: #FFFFFF;
        margin: 0;
        padding: 0;
        max-width: 625px;
        z-index: 9;
    }
    &__link{
        margin: 50px 0 0 0;
        padding: 0;
    }
    &__img{
        position: absolute;
        top: 0;
        left: 386px;
        width: 100%;
        max-width: 720px;
        z-index: 1;
    }
}