.l-contentNumbers{
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
}
.b-contentNumbers{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 100px 20px 100px 20px;
    box-sizing: border-box;
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
        padding: 0;
    }
    &__boxes{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 41px 0 0  0;
    }
    &__column{
        margin: 0;
        padding: 22px 0 19px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        width: 100%;
        &.-column1{
            &::before{
                content: '';
                background-image: url('/assets/img/userfiles/numbersLine1.png');
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &.-column2{
            &::before{
                content: '';
                background-image: url('/assets/img/userfiles/numbersLine2.png');
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &.-column3{
            &::before{
                content: '';
                background-image: url('/assets/img/userfiles/numbersLine3.png');
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        &.-column4{
            &::before{
                content: '';
                background-image: url('/assets/img/userfiles/numbersLine4.png');
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__columnTitle{
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;
        text-align: center;
        background: linear-gradient(59.22deg, #9600FB 7.87%, #42E8E0 76.13%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin: 17px 0 0 0;
        padding: 0;
        width: 255px;
    }
    &__columnText{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.8;
        margin: 3px 0 0 0;
        padding: 0;
        text-align: center;
    }
    &__text{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.6;
        padding: 0;
        margin: 20px 0 0 0;
        &.-first{
            max-width: 197px;
        }
        &.-second{
            max-width: 250px;
        }
    }
    &__img1{
        padding: 0;
        margin: 0;
        width: 26px;
        height: 38px;
    }
    &__img3{
        padding: 0;
        margin: 0;
        width: 33px;
        height: 38px;
    }
    &__img2{
        padding: 0;
        margin: 0;
        width: 30px;
        height: 38px;
    }
    &__img4{
        padding: 0;
        margin: 0;
        width: 25px;
        height: 38px;
    }
}