.l-contentBenefits{
    width: 100%;
    padding: 0;
    margin: 0;
}
.b-contentBenefits{
    width: 100%;
    max-width: 1150px;
    padding: 100px 20px 100px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    @media screen and (max-width:768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px 50px 20px;
    }
    &__titleFirst{
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 0.035em;
        color: #FFFFFF;
        @media screen and (max-width:768px) {
            font-size: 25px !important;
            line-height: 30px !important;
            margin: 0 0 30px 0 !important;
        }
    }
    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 27px 30px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 15px;
        width: 100%;
        max-width: 350px;
        overflow: hidden;
        @media screen and (max-width:1150px) {
            padding: 15px 10px;
        }
        @media screen and (max-width:768px) {
            padding: 20px 22px;
            max-width: 700px;
        }
    }
    &__img{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 77px;
        @media screen and (max-width:1150px) {
            height: 57px;
        }
    }

  .b-contentBenefits__wrapper {
    position: relative;
  }

    .b-contentBenefits__shadow {
        width: 110px;
        height: 110px;
        position: absolute;
        right: -10px;
        top: 0;
        background: rgba(171, 0, 251, 0.3);
        filter: blur(50px);
        z-index: -1;
        @media screen and (max-width:1150px) {
            width: 100px;
            height: 100px;
        }
    }
    .-green{
        background: rgba(7, 219, 180, 0.3);
    }
    .b-contentBenefits-title3{
        max-width: 224px;
        @media screen and (max-width:768px) {
            max-width: 100%;
        }
    }
    .b-contentBenefits-title5{
        max-width: 380px;
        @media screen and (max-width:768px) {
            max-width: 100%;
        }
    }
    .b-contentBenefits-text4{
        max-width: 458px;
        @media screen and (max-width:768px) {
            max-width: 100%;
        }
    }
    .b-contentBenefits-text5{
        max-width: 458px;
        @media screen and (max-width:768px) {
            max-width: 100%;
        }
    }
    .text2-3{
        max-width: 271px;
        @media screen and (max-width:768px) {
            max-width: 100%;
        }
    }
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.9;
        max-width: 256px;
        text-align: center;
        margin: 20px 0 20px 0;
        padding: 0;
        @media screen and (max-width:1150px) {
            font-size: 18px;
            line-height: 22px;
        }
        @media screen and (max-width:768px) {
            max-width: 100%;
        }
    }
    &__text{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.6;
        max-width: 290px;
        text-align: center;
        margin: 0;
        padding: 0;
        @media screen and (max-width:1150px) {
            font-size: 14px;
            line-height: 125%;
        }
        @media screen and (max-width:768px) {
            max-width: 100%;
        }
    }
    &__titleFirst{
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 0.035em;
        color: #FFFFFF;
        margin: 0 0 50px 0;
        padding: 0;
    }
    &__cardsHorizontal{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @media screen and (max-width:768px) {
            flex-direction: column;
        }
    }
    &__cardsVertical{
        margin: 30px 0 0 0;
        padding: 0;
        display: flex;
        gap: 20px;
        justify-content: space-between;
      @media screen and (max-width:768px) {
          height: 0;
          overflow: hidden;
          opacity: 0;
          transition: opacity .3s;
          padding: 0;
          margin: 0;
          @media screen and (max-width:768px) {
            flex-direction: column;
        }
      }
        &.-opened {
          height: 100%;
          opacity: 1;
          transition: opacity .3s;
          margin: 20px 0 0 0;
        }
    }
    &__cardVertical{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 28px 41px 36px 41px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 15px;
        width: 100%;
        @media screen and (max-width:1150px) {
            padding: 15px 10px;
        }
        @media screen and (max-width:768px) {
            padding: 20px 22px;
            max-width: 700px;
        }
    }
    &__button{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        padding: 15px 74px;
        margin: 0;
        border: 1px solid #07DBB4;
        border-radius: 5px;
        display: flex;
        align-items: center;
        width: max-content;
        text-decoration: none;
        color: #FFFFFF;
        outline: none;
        background: none;
        &:hover{
            svg{
                transition: .3s;
                path{
                    stroke: #06071B;
                    transition: .3s;
                }
                circle{
                    stroke: #06071B;
                    transition: .3s;
                }
            }
        }
        svg{
            margin: 0 0 0 10px;
            padding: 0;
            path{
                transition: .3s;
            }
            circle{
                transition: .3s;
            }
        }
        &.-open{
            svg{
                transform: rotate(180deg);
                transition: .3s;
            }
        }
    }
    &__item{
        display: none;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 20px 0 0 0;
        @media screen and (max-width:768px) {
            display: flex;
        }
    }
    .hvr-fade{
        &:hover{
            background-color: #07DBB4;
            color: #06071B;
        }
    }
}
