.l-contentStart{
    width: 100%;
    padding: 0 ;
    margin: 0;
}
.b-contentStart{
    width: 100%;
    max-width: 1150px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    &__warpper{
        padding: 56px 459px 48px 26px;
        box-sizing: border-box;
        margin: 0;
        background-image: url('/assets/img/userfiles/steartBg.png');
        background-repeat: no-repeat;
    }
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        color: #FFFFFF;
        margin: 0;
        padding: 0;
        max-width: 625px;
    }
}