.l-contentStart{
    width: 100%;
    padding: 0 ;
    margin: 0;
}
.b-contentStart{
    width: 100%;
    max-width: 1150px;
    padding: 100px 20px 100px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    @media screen and (max-width:768px) {
        padding: 50px 20px 50px 20px;
    }
    &__wrapper{
        padding: 71px 0px 72px 26px;
        box-sizing: border-box;
        margin: 0;
        background-image: url(/assets/img/userfiles/steartBg.png);
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        background-size: cover;
        border-radius: 15px;
        @media screen and (max-width:1150px) {
            padding: 71px 20px 20px 26px;
        }
        @media screen and (max-width:1000px) {
            padding: 42px 20px 20px 20px;
        }
        @media screen and (max-width:768px) {
            padding: 42px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url(/assets/img/userfiles/bg.png);
        }
        
    }
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        color: #FFFFFF;
        margin: 0;
        padding: 0;
        max-width: 625px;
        @media screen and (max-width:1150px) {
            max-width: 440px;
        }
        @media screen and (max-width:1000px) {
            font-size: 34px;
            max-width: 440px;
        }
        @media screen and (max-width:768px) {
            font-size: 30px;
            padding: 0 19px 0 19px;
            
        }
    }
    &__link{
        margin: 50px 0 0 0;
        padding: 0;
        @media screen and (max-width:1150px) {
            margin: 40px 0 0 0;
        }
    }
    &__img{
        position: absolute;
        top: 0;
        left: 386px;
        width: 100%;
        max-width: 720px;
        z-index: 1;
        @media screen and (max-width:1150px) {
            left: 256px;
        }
        @media screen and (max-width:1000px) {
            max-width: 550px;
            left: 296px;
            top: 30px;
        }
        @media screen and (max-width:900px) {
            left: 230px;
        }
        @media screen and (max-width:768px) {
            display: none;
        }
    }
    &__img1{
        width: 100%;
        margin: 10px 0 0 0;
        display: none;
        max-width: 500pxw;
        @media screen and (max-width:768px) {
            display: flex;
        }
    }
}