.l-firstScreen{
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    &__bg{
        top: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}
.b-firstScreen{
    width: 100%;
    max-width: 1150px;
    padding: 182px 20px 135px 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    &.-actives{
        padding: 182px 20px 108px 20px;
        @media screen and (max-width:768px) {
            align-items: center;
            padding: 72px 20px 0 20px;
        }
        @media screen and (max-width:576px) {
            display: block;
            padding: 72px 20px 310px 20px;
        }
        @media screen and (max-width:500px) {
            padding: 72px 20px 287px 20px;
        }
        @media screen and (max-width:440px) {
            padding: 72px 20px 250px 20px;
        }
        @media screen and (max-width:394px) {
            padding: 72px 20px 220px 20px;
        }
        @media screen and (max-width:340px) {
            padding: 72px 20px 183px 20px;
        }
        @media screen and (max-width:320px) {
            padding: 72px 20px 139px 20px;
        }
    }
    @media screen and (max-width:768px) {
        align-items: center;
        padding: 72px 20px 60px 20px;
    }
    &__title{
        margin: 0;
        padding: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: 0.035em;
        color: #FFFFFF;
        max-width: 630px;
        @media screen and (max-width:1150px) {
            font-size: 44px;
            line-height: 52px;
            max-width: 450px;
        }
        @media screen and (max-width:880px) {
            font-size: 35px;
            line-height: 44px;
            max-width: 370px;
        }
        @media screen and (max-width:768px) {
            font-size: 55px;
            line-height: 72px;
            max-width: 610px;
            text-align: center;
        }
        @media screen and (max-width:576px) {
            font-size: 38px;
            max-width: 540px;
            line-height: 52px;
            text-align: left;
        }
        @media screen and (max-width:420px) {
            font-size: 30px;
            line-height: 36px;
        }
        &.-actives{
            max-width: 829px;
            @media screen and (max-width:1050px) {
                font-size: 35px;
                max-width: 490px;
                line-height: 120%;
            }
            @media screen and (max-width:768px) {
                font-size: 30px;
                max-width: 570px;
            }
        }
    }

    &__text{
        padding: 0;
        margin: 30px 0 0 0;
        max-width: 521px;
        @media screen and (max-width:880px) {
            margin: 20px 0 0 0;
        }
        p{
            margin: 0;
            padding: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.6;
            @media screen and (max-width:1150px) {
                font-size: 16px;
                max-width: 461px;
            }
            @media screen and (max-width:990px) {
                font-size: 16px;
                max-width: 361px;
            }
            @media screen and (max-width:880px) {
                max-width: 300px;
            }
            @media screen and (max-width:768px) {
              max-width: none;
            }
        }
        &.-actives{
            max-width: 559px;
            @media screen and (max-width:1050px) {
                max-width: 360px;
            }
            @media screen and (max-width:768px) {
                max-width: 400px;

            }
        }
    }
    &__imgPhone{
        display: none;
        position: absolute;
        z-index: -1;
        @media screen and (max-width:576px) {
            display: flex;
            left: -5px;
            width: 101%;
            top: 160px;
        }
        @media screen and (max-width:500px) {
            top: 195px;
        }
        @media screen and (max-width:440px) {
            top: 240px;
        }
        @media screen and (max-width:394px) {
            top: 265px;
        }
        @media screen and (max-width:340px) {
            top: 270px;
        }
    }
    &__link{
        padding: 18px 49px;
        box-sizing: border-box;
        margin: 70px 0 0 0;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #06071B;
        background: #07DBB4;
        box-shadow: 0px 0px 14px rgba(66, 232, 224, 0.3);
        border-radius: 15px;
        width: max-content;
        text-decoration: none;
        display: flex;
        align-items: center;
        &::after{
            content: '';
            background-image: url('/assets/img/userfiles/firstScreen-arrow.svg');
            width: 28px;
            height: 28px;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 0;
            margin: 0 0 0 10px;
            display: block;
        }
        @media screen and (max-width:950px) {
            margin: 30px 0 0 0;
        }
        @media screen and (max-width:768px) {
            margin: 20px 0 0 0;
        }
    }
    &__img{
        position: absolute;
        top: 30%;
        right: 60px;
        @media screen and (max-width:1150px) {
            max-width: 550px;
        }
        @media screen and (max-width:950px) {
            max-width: 450px;
        }
        @media screen and (max-width:880px) {
            max-width: 380px;
        }
        @media screen and (max-width:768px) {
          max-width: none;
          width: 100%;
          position: static;
          padding: 0;
          margin: 10px 0 0 0;
        }
        &.-actives{
            right: -140px;
            top: 23%;
            z-index: -1;
            @media screen and (max-width:1150px) {
                right: 0;
                max-width: 500px;
            }
            @media screen and (max-width:950px) {
                max-width: 400px;
                top: 32%
            }
            @media screen and (max-width:576px) {
                display: none;
            }
        }
    }
    &__stroke{
        width: 100%;
        height: 40px;
        background-image: url(/assets/img/userfiles/strokeActives.png);
        background-repeat: repeat-x;
        z-index: 10;
    }
}

