.b-functions{
    padding: 0 20px 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1150px;
    width: 100%;
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;  
        margin: 0;
        padding: 0; 
        @media screen and (max-width:768px) {
            font-size: 25px;
        }     
    }
    &__boxes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 30px;
        padding: 0;
        margin: 40px 0 0 0;
        @media screen and (max-width:768px) {
            display: block;
            margin: 25px 0 0 0;
        }
    }
    &__box{
        padding: 17px 24px 40px 22px;
        margin: 0px 0 0 0;
        box-sizing: border-box;
        background: #121326;
        border-radius: 5px;
        overflow: hidden;
        @media screen and (max-width:768px) {
            margin: 15px 0 0 0;
        }
        &.-bigBox{
            padding: 7px 24px 40px 22px;
        }
        &.-boxPhone{
            @media screen and (max-width:768px) {
                display: none;
            }
        }
    }
    &__text{
        max-width: 304px;
        margin: 0;
        padding: 20px 0 0 0;
        position: relative;
        &::before{
            content: '' ;
            background-image: url(/assets/img/userfiles/functoinLine.png);
            top: 0;
            left: 0;
            width: 309px;
            height: 2px;
            position: absolute;
            @media screen and (max-width:1150px) {
                left: -20px;
                width: 350px;
            }
            @media screen and (max-width:768px) {
                width: 100%;
            }
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.6;
            margin: 0;
            padding: 0;
        }
        @media screen and (max-width:768px) {
            max-width: none;
            width: 100%;
        }
    }
    &__boxRow{
        padding: 0;
        margin: 0 0 17px 0;
        display: flex;
        align-items: center;
        &.-bigRow{
            margin: 0 0 7px 0;
            @media screen and (max-width:1050px) {
                margin: 10px 0 17px 0;
            }
            @media screen and (max-width:950px) {
                margin: 0 0 3px 0;
            }
        }
    }
    &__img1{
        padding: 0;
        margin: 0;
        height: 29px;
    }
    &__boxTitle{
        padding: 0;
        margin: 0 0 0 15px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        opacity: 0.9;
        &.-bigTitle{
            max-width: 209px;
        }
        @media screen and (max-width:1050px) {
            max-width: 130px;
        }
        @media screen and (max-width:768px) {
            max-width: none;
            width: 100%;
            font-style: 20px;
        }
    }
    &__button{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        padding: 15px 74px;
        margin: 20px 0 0 0;
        border: 1px solid #07DBB4;
        border-radius: 5px;
        display: flex;
        align-items: center;
        width: max-content;
        text-decoration: none;
        color: #FFFFFF;
        &:hover{
            svg{
                path{
                    stroke: #06071B;
                    transition: .3s;
                }
                circle{
                    stroke: #06071B;
                    transition: .3s;
                }
            }
        }
        svg{
            margin: 0 0 0 10px;
            padding: 0;
            path{
                transition: .3s;
            }
            circle{
                transition: .3s;
            }
        }
    }
    &__item{
        display: none;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 0 0 0;
        @media screen and (max-width:768px) {
            display: flex;
        }
    }
    .hvr-fade{
        &:hover{
            background-color: #07DBB4;
            color: #06071B;
        }
    }
}