.l-tariffs{
    width: 100%;
    padding: 0;
    margin: 0;
    &__button{
        background: rgba(130, 135, 243, 0.2);
        outline: none;
        border: none;
        margin: 0;
        padding: 10px 21px;
        box-sizing: border-box;
        width: 100%;
        display: none;
        @media screen and (max-width:768px) {
            display: flex;   
            justify-content: space-between;  
            align-items: center;   
        }
    }
    &__buttonInfo{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        p{
            padding: 0;
            margin: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            margin: 0 0 0 10px;
            span{
                opacity: 0.4;
                margin: 0 0 0 5px;
            }
        }
    }
    &__img{
        margin: 0;
        padding: 0;
        height: 22px;
        width: 22px;
    }
}
.b-tariffs{
    padding: 0 20px 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        padding: 0;
        margin: 0;
    }
    &__text{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.6;
        max-width: 746px;
        padding: 0;
        margin: 20px 0 0 0;
    }
    &__start{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
        padding: 0;
        margin: 0;
        width: 135px;
        @media screen and (max-width:1050px) {
            width: 101px;        
        }
    }
    &__content{
        margin: 0;
        padding: 0;
        width: 100%;
        @media screen and (max-width:768px) {
            display: none;        
        }
    }
    &__info{
        margin: 40px 0 0 0;
        padding: 13px 20px 13px 20px;
        background: linear-gradient(65.81deg, #4E067E 0%, #42E8E0 129.73%);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__middle{
        list-style-type: none;
        display: flex;
        gap: 10px;
        padding: 0;
        margin: 0;
    }
    &__item{
        padding: 0;
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        text-align: right;
        color: #FFFFFF;    
        width: 100px;
        @media screen and (max-width:1050px) {
            width: 83px;        
            font-size: 12px;
        }
        &.-big{
            width: 133px;
            @media screen and (max-width:1050px) {
                width: 101px;        
            }
        }
    }
    &__end{
        list-style-type: none;
        display: flex;
        gap: 10px;
        padding: 0;
        margin: 0;
        li{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            text-align: right;
            color: #FFFFFF;
            padding: 0;
            margin: 0;
            max-width: 100px;
            @media screen and (max-width:1050px) {
                width: 83px;        
                font-size: 12px;
            }
        }
    }
    &__img{
        height: 22px;
        width: 22px;
        padding: 0;
        margin: 0;
        @media screen and (max-width:1050px) {
            height: 18px;
            width: 18px;
        }
    }
    &__crypto{
        padding: 30px 20px 20px 20px;
        display: flex;
        border-bottom: 1px solid #1C1D39;
        justify-content: space-between;
        align-items: center;
    }
    &__cryptoStart{
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 165px;
        @media screen and (max-width:1050px) {
            width: 101px;
            gap: 5px;
        }
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            padding: 0; 
            margin: 0;
            span{
                margin: 0 0 0 5px;
                opacity: 0.4;
            }
            @media screen and (max-width:1050px) {
                font-size: 12px;
            }
        }
    }
    &__cryptoMiddle{
        list-style-type: none;
        gap: 10px;
        padding: 0;
        margin: 0;
        display: flex;
        @media screen and (max-width:1050px) {
            gap: 5px;        
        }
    }
    &__rowItem{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        padding: 0; 
        margin: 0;
        width: 100px;
        text-align: right;
        @media screen and (max-width:1050px) {
            width: 80px;        
            font-size: 12px;      
        }
        &.-big{
            width: 133px;
            @media screen and (max-width:1050px) {
                width: 101px;        
            }
        }
    }
    &__cryptoEnd{
        list-style-type: none;
        gap: 10px;
        padding: 0;
        margin: 0;
        display: flex;
        @media screen and (max-width:1050px) {
            gap: 5px;        
        }
    }
}