.l-wallet{
    width: 100%;
    padding: 0 ;
    margin: 0;
}
.b-wallet{
    width: 100%;
    max-width: 1150px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    &__warpper{
        padding: 56px 26px 48px 26px;
        box-sizing: border-box;
        margin: 0;
        background-image: url(/assets/img/userfiles/wallet-bg.png);
        background-repeat: no-repeat;
    }
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        color: #FFFFFF;
        max-width: 500px;      
        margin: 0;
        padding: 0;  
    }
    &__text{
        margin: 20px 0 0 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        opacity: 0.6;
        max-width: 436px;
    }
    &__link{
        margin: 40px 0 0 0;
        padding: 0;
    }
    &__phoneImg{
        position: absolute;
        top: 0;
        right: 75px;
        width: 571px;
    }
    &__cryptoImg{
        position: absolute;
        top: 20px;
        right: 90px;
        width: 558px;
    }
}
.button{
    padding: 18px 49px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #06071B;
    background: #07DBB4;
    box-shadow: 0px 0px 14px rgba(66, 232, 224, 0.3);
    border-radius: 15px;
    width: max-content;
    text-decoration: none;
    display: flex;
    align-items: center;
    &::after{
        content: '';
        background-image: url('/assets/img/userfiles/firstScreen-arrow.svg');
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 0;
        margin: 0 0 0 10px;
        display: block;
    }
}