.l-wallet{
    width: 100%;
    padding: 0 ;
    margin: 0;
}
.b-wallet{
    width: 100%;
    max-width: 1150px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    &.-actives{
       margin: 100px auto;
    }
    &__wrapper{
        padding: 56px 26px 48px 26px;
        box-sizing: border-box;
        margin: 0;
        background-image: url(/assets/img/userfiles/wallet-bg.png);
        background-repeat: no-repeat;
        border-radius: 15px;
        background-size: cover;
        @media screen and (max-width:768px) {
            padding: 35px 20px;
            background-image: url(/assets/img/userfiles/bgPhone.png);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__title{
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 130%;
        color: #FFFFFF;
        max-width: 500px;      
        margin: 0;
        padding: 0;  
        @media screen and (max-width:1150px) {
            line-height: 120%;
            font-size: 30px;
            max-width: 260px; 
        }
        @media screen and (max-width:768px) {
            line-height: 120%;
            font-size: 30px;
            width: 100%; 
            max-width: 100%;
            max-width: none;
        }
    }
    &__text{
        margin: 20px 0 0 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        opacity: 0.6;
        max-width: 436px;
        @media screen and (max-width:1150px) {
            line-height: 120%;
            font-size: 14px;
            max-width: 300px; 
        }
        @media screen and (max-width:768px) {
            font-size: 16px;
            line-height: 150%;
            width: 100%;
            max-width: none;
        }
    }
    &__link{
        margin: 40px 0 0 0;
        padding: 0;
        &.button{
            @media screen and (max-width:768px) {
                padding: 18px 40px;
            }
            @media screen and (max-width:340px) {
                padding: 18px 30px;
            }
        }
    }
    &__phoneImg{
        position: absolute;
        top: 0;
        right: 75px;
        width: 571px;
        @media screen and (max-width:1150px) {
            width: 471px;
            top: 10%;
            right: 30px;
        }
        @media screen and (max-width:830px) {
            width: 420px;
            top: 12%;
            right: 25px;
        }
        @media screen and (max-width:768px) {
            max-width: none;
            width: 100%;
            position: static;
            padding: 0;
            margin: 10px 0 0 0;
        }
    }
    &__cryptoImg{
        position: absolute;
        top: 20px;
        right: 90px;
        width: 558px;
        @media screen and (max-width:1150px) {
            width: 478px;
            top: 10%;
            right: 20px;
        }
        @media screen and (max-width:830px) {
            width: 420px;
            top: 17%;
            right: 25px;
        }
        @media screen and (max-width:768px) {
           display: none;
        }
    }
}
.button{
    padding: 18px 49px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #06071B;
    background: #07DBB4;
    box-shadow: 0px 0px 14px rgba(66, 232, 224, 0.3);
    border-radius: 15px;
    width: max-content;
    text-decoration: none;
    display: flex;
    align-items: center;
    &::after{
        content: '';
        background-image: url('/assets/img/userfiles/firstScreen-arrow.svg');
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 0;
        margin: 0 0 0 10px;
        display: block;
    }
}