.l-mainNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  transition: 0.3s;
  position: relative;
  
  @media screen and ( max-width:1150px ) {
    gap: 40px;
  }
  @media screen and ( max-width:1050px ) {
    gap: 20px;
  }
  @media screen and ( max-width:1024px ) {
    background-color: #121326;
    top: -1000%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 55vh;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    padding: 90px 20px 20px 0 ;
  }
  &.-state-open{
    top: 0;
    transition: 0.3s;
  }
}
.b-mainNavigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 27px;
  @media screen  and(max-width: 1150px){
    gap: 20px;
  }
  @media screen  and(max-width: 1024px){
    flex-direction: column;
    align-items: center;
  }
  @media screen and ( max-height:570px ) {
    gap: 10px;
  }
  
  &__item {
    padding: 0;
    margin: 0;
  }

  &__link {
    @include hover-underline;
    display: block;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.8;
    @media screen  and(max-width: 1220px){
      font-size: 14px;
    }
    @media screen  and(max-width: 1024px){
      font-size: 16px;
    }
  }
}

.hamburger{
  z-index: 998;
  padding: 0;
  margin: 0 0 12px 0;
  @media screen  and(min-width: 1025px){
    display: none;  
  }
}