.l-mainNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  @media screen and ( max-width:1150px ) {
    gap: 40px;
  }
  @media screen and ( max-width:1050px ) {
    gap: 20px;
  }
  @media screen and ( max-width:1024px ) {
    display: none;
    
  }
}
.b-mainNavigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 27px;
  @media screen  and(max-width: 1150px){
    gap: 20px;
}

  &__item {

    &.-state_active {}
  }

  &__link {
    @include hover-underline;
    display: block;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.8;
    @media screen  and(max-width: 1150px){
      font-size: 14px;
    }
  }
  
}

