.l-mainNavigation {

}
.b-mainNavigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 27px;

  &__item {

    &.-state_active {}
  }

  &__link {
    @include hover-underline;
    display: block;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.8;
  }
}
