.l-siteCopyright {
  @media screen and (max-width:768px) {
    display: flex;
    justify-content: flex-start;
  }
}

.b-siteCopyright {
  @include hover-underline;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 220%;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.3;
  &__link {
    margin: 0;
    padding: 0;
    @include hover-underline;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 220%;
    text-align: right;
    color: #FFFFFF;
  }
}
