.l-siteHeader {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 997;
}
.b-siteHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1340px;
    padding: 50px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    gap: 20px;
    @media screen and ( max-width:1024px ) {
        padding: 20px 20px;
      }
}
